body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #ebebeb;
}
.hero-section {
    height: 100vh;
    background: url('../assets/lions-head-w-overlay.png') no-repeat center center/cover;
    position: relative;
    color: white;
    // background-color: rgba(0, 0, 0, 0.5);
    // padding-bottom: 50px;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 40px;
      // background-color: rgba(0, 0, 0, 0.5);
      background-color: #FFFFFF;
  
      .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: #1FC9BE;
      }
      
      a {
        text-decoration:  none;
      }
  
      .nav-links {
        display: flex;
        gap: 20px;
  
        li {
          list-style: none;
  
          a {
            text-decoration: none;
            color: #000;
            font-size: 1rem;
            transition: color 0.3s;
  
            &:hover {
              color: #1FC9BE;
            }
          }
        }
      }
    }
  
.hero-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 600px;

    .hero-text {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 20px;
      line-height: 1.5;
    }

    .hero-button {
      background-color: #1FC9BE;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: #04A99B ;
        transform: scale(1.05);
      }

      span {
        font-size: 1.2rem;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #1FC9BE;
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
